<form [formGroup]="form" (ngSubmit)="submit(form.value,null)" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registro de Motivo</mat-card-title>
      <mat-card-subtitle>Complete los datos del formulario para el registro</mat-card-subtitle>
      <div class="button-close">
          <button type="button" routerLink="/accounting/motives" matTooltip="Regresar" mat-button color="warn" class="float-right config-close">
            <mat-icon>keyboard_backspace</mat-icon>
          </button>
        </div>
    </mat-card-header>
    <mat-card-content>
      <br>
      <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field fxFlex="50" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" placeholder="Nombre">
        </mat-form-field>
        <mat-form-field fxFlex="30" appearance="outline">
          <mat-label>Monto Referencial</mat-label>
          <input matInput formControlName="amount" type="number" placeholder="Monto Referencial">
        </mat-form-field>
        <!-- <mat-form-field fxFlex="20" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="serie" required>
                <mat-option value="debit"> Débito </mat-option>
                <mat-option value="credit"> Crédito </mat-option>
            </mat-select>
        </mat-form-field> -->
      </div>
      <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field fxFlex="100" appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="description" placeholder="Descripción">
        </mat-form-field>
      </div>
      <div flex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutGap="5px">
          <button flex mat-raised-button color="warn" matTooltip="Limpiar" type="reset">Limpiar</button>
          <button mat-raised-button color="primary" matTooltip="Guardar" type="submit" [disabled]="!form.valid">Guardar</button>
  </div>
    </mat-card-content>
  </mat-card>
</form>