<form [formGroup]="form" (ngSubmit)="submit(form.value,null)" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Registro de Ubigeo</mat-card-title>
        <mat-card-subtitle>Complete los datos del formulario para el registro</mat-card-subtitle>
        <div class="button-close">
          <button type="button" mat-button color="warn" matTooltip="Cerrar" class="float-right" (click)="onNoClick()">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </mat-card-header>
      
      <mat-card-content>
        <br>
        <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Departamento</mat-label>
            <input matInput formControlName="department" placeholder="Departamento">
          </mat-form-field>
          <mat-form-field fxFlex="50" appearance="outline">
            <mat-label>Provincia</mat-label>
            <input matInput formControlName="province" placeholder="Provincia">
          </mat-form-field>
        </div>
        <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="50" appearance="outline">
              <mat-label>Distrito</mat-label>
              <input matInput formControlName="district" placeholder="Distrito">
            </mat-form-field>
            <mat-form-field fxFlex="50" appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput formControlName="code" placeholder="Código">
            </mat-form-field>
          </div>
      </mat-card-content>
      <div fxLayoutAlign="end center" fxLayoutGap="5px" fxLayout="row">
        <button flex mat-raised-button color="warn" type="reset" matTooltip="Reiniciar Registro" >Limpiar</button>
        <span>&nbsp;</span>
        <button flex mat-raised-button color="primary" type="submit" matTooltip="Guardar Registro" [disabled]="!form.valid">Guardar</button>
      </div>
    </mat-card>
  </form>