<form [formGroup]="newTable" (ngSubmit)="submit(newTable.value,null)" class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Nueva mesa</mat-card-title>
      <mat-card-subtitle>Complete los datos del formulario para el registro</mat-card-subtitle>
      <div class="button-close">
        <button type="button" mat-button color="warn" matTooltip="Cerrar" class="float-right config-close"
          (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-card-content fxLayout="column">
      <br>
      <div flex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" type="text" placeholder="Nombre del Sal&oacute;n">
        </mat-form-field>
      </div>
      <div flex fxLayout="row">
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Sucursal</mat-label>
          <mat-select formControlName="headquarter_id">
            <mat-option *ngFor="let headquarter of headquarters" [value]="headquarter.id">{{headquarter.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex appearance="outline">
          <mat-label>Forma de Mesa</mat-label>
          <mat-select formControlName="table_shape_id">
            <mat-option *ngFor="let shape of tableShapes" [value]="shape.id">{{shape.description}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end center" fxLayout="row">
        <mat-slide-toggle [color]="'primary'" formControlName="state">{{newTable.value.state ? 'Activo' : 'Inactivo'}}
        </mat-slide-toggle>
      </div>
    </mat-card-content>
    <div fxLayoutAlign="end center" fxLayoutGap="5px" fxLayout="row">
      <button flex mat-raised-button color="warn" matTooltip="Reiniciar Registro" type="reset">Limpiar</button>
      <span>&nbsp;</span>
      <button flex mat-raised-button color="primary" matTooltip="Guardar Registro" type="submit">Guardar</button>
    </div>
  </mat-card>
</form>
