<mat-card>
    <div class="container-section-header clearfix">
        <h2 class="float-left">Gestionar Pedidos</h2>
      </div>
      
      <div flex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
        <mat-form-field fxFlex="50">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
            <span matPrefix>
                <mat-icon>search</mat-icon>
            </span>
        </mat-form-field>
    </div>
    
      <div fxLayout="row" *ngIf="!isMobile">
        <div fxFlex="100" class="table-responsive">
          <table mat-table [dataSource]="dataSource">
    
            <ng-container matColumnDef="table">
                <th mat-header-cell *matHeaderCellDef class="text-center"> # de Mesa </th>
                <td mat-cell *matCellDef="let element; let i =index" class="text-center"> {{element.table}} </td>
              </ng-container>
              
              <ng-container matColumnDef="waiter">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Mozo Encargado </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.waiter}} </td>
              </ng-container>
          
              <ng-container matColumnDef="order_time">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Hora de Pedido </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.order_time}} </td>
              </ng-container>
          
              <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Total de Venta </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.total}} </td>
              </ng-container>
          
              <ng-container matColumnDef="options">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> Opciones </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> 
                      <button mat-icon-button color="primary" matTooltip="Añadir/Editar Pedido">
                          <mat-icon>restaurant</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" matTooltip="Pagar Cuentas" [routerLink]="['/orders/payment']">
                          <mat-icon>payment</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" matTooltip="Mover Mesa">
                          <mat-icon>transfer_within_a_station</mat-icon>
                        </button>
                  </td>
                </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
    
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    
      <mat-list *ngIf="isMobile">
        <mat-list-item *ngFor="let data of dataSource.data" class="mat-element">
          <!-- <mat-icon mat-list-icon color="primary" matTooltip="Añadir/Editar Pedido">restaurant</mat-icon>
          <mat-icon mat-list-icon color="primary" matTooltip="Pagar Cuentas" [routerLink]="['/orders/payment']">payment</mat-icon>
          <mat-icon mat-list-icon color="primary" matTooltip="Mover Mesa">transfer_within_a_station</mat-icon> -->
          <h4 mat-line>Mesa : {{data.table}}</h4>
          <p mat-line> Encargado : {{data.waiter}} </p>
          <p mat-line> Hora : {{data.order_time}} </p>
          <p mat-line>
            <mat-icon mat-list-icon color="primary" matTooltip="Añadir/Editar Pedido">restaurant</mat-icon>
            <mat-icon mat-list-icon color="primary" matTooltip="Pagar Cuentas" [routerLink]="['/orders/payment']">payment</mat-icon>
            <mat-icon mat-list-icon color="primary" matTooltip="Mover Mesa">transfer_within_a_station</mat-icon>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    
</mat-card>