<form [formGroup]="form" (ngSubmit)="save(form.value)" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Registro de Porcionamiento</mat-card-title>
            <mat-card-subtitle>Creacion de Porcionamientos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br>
            <div flex fxLayout="row" fxLayout.xs="column">
                <mat-form-field fxFlex="40" appearance="outline">
                    <mat-select [formControl]="productCtrl" placeholder="Artículos/Productos" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="productFilterCtrl" [placeholderLabel]="'Buscar'"
                                [noEntriesFoundLabel]="'No se encontraron registros'"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let productSingle of filteredProducts | async" (click)="form.controls.product_id.setValue(productSingle.id)" [value]="productSingle">
                            {{productSingle.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="productCtrl.value">
                <div flex fxLayout="row">
                    <div fxFlex>
                        <span style="font-size: 15px;"><strong>Artículo/Producto: </strong> </span> <label
                            for="">{{productCtrl.value.name}}</label>
                    </div>
                    <div fxFlex>
                        <span style="font-size: 15px;"><strong>Cantidad Disponible: </strong> </span> <label
                            for="">{{productCtrl.value.qty}}&nbsp;{{productCtrl.value.product_storage ? productCtrl.value.product_storage.quantity : 0 }} {{productCtrl.value.product_storage.measurement_unit ? productCtrl.value.product_storage.measurement_unit.description : ''}}</label>
                    </div>
                    <div fxFlex>
                        <span style="font-size: 15px;"><strong>Precio: </strong> </span> <label
                            for="">{{productCtrl.value.cost}} <b> {{productCtrl.value.coin ? productCtrl.value.coin.symbol : ''}} </b></label>
                    </div>
                </div>
                <div flex fxLayout="row" fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="30">
                        <mat-label>Cantidad a Porcionar</mat-label>
                        <input matInput type="number" formControlName="quantity" min="0"
                            [max]="productCtrl.value.product_storage.quantity" (input)="verifyQtyProduct($event)"
                            placeholder="Cantidad a Porcionar">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline" fxFlex="30">
                        <mat-label>Almacen</mat-label>
                        <mat-select [compareWith]="compareObjects" formControlName="warehouse_id">
                          <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.description}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div flex fxLayout="row">
                    <h4>Artículos</h4>
                </div>
                <mat-divider></mat-divider>
                <br>
                <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="40" appearance="outline">
                        <mat-select [formControl]="productCtrl1" [disabled]="!form.value.quantity"
                            placeholder="Artículos/Productos" #singleSelect1 (selectionChange)="addProduct($event)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="productFilterCtrl1" [placeholderLabel]="'Buscar'"
                                    [noEntriesFoundLabel]="'No se encontraron registros'"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let productSingle of filteredProducts1 | async" [value]="productSingle" [hidden]="productSingle.id === productCtrl.value.id">
                                {{productSingle.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div style="font-size: 20px;">
                        <span><strong>Disponibilidad: </strong> </span> <label
                            for="">{{availability < 0 ? 0 : availability}}</label>
                    </div>
                    <div style="font-size: 20px;color: red" *ngIf="availability < 0">
                        <span><strong>Disponibilidad Faltante: </strong> </span> <label
                            for="">{{availability*-1}}</label>
                    </div>
                </div>
                <div flex fxLayout="row">
                    <div fxFlex="100" class="table-responsive">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="unit">
                                <th mat-header-cell *matHeaderCellDef>Tipo de Medida</th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="element.unit" [ngModelOptions]="{standalone: true}"
                                            (selectionChange)="element.qty=0;element.qty_product=0;calculateAvailability()">
                                            <mat-option *ngFor="let unit of units[this.productCtrl.value.typeUnit]"
                                                [value]="unit.unit">
                                                {{unit.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="qty">
                                <th mat-header-cell *matHeaderCellDef>Cantidad Necesaria</th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    <mat-form-field>
                                        <input matInput type="number"
                                            [(ngModel)]="element.qty" [ngModelOptions]="{standalone: true}"
                                            (input)="changeQtyInput($event,i,'qty')">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="qty_product">
                                <th mat-header-cell *matHeaderCellDef>Cantidad A Producir</th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    <mat-form-field>
                                        <input matInput type="number" [disabled]="!element.qty"
                                            [(ngModel)]="element.qty_product" [ngModelOptions]="{standalone: true}"
                                            (input)="changeQtyInput($event,i,'qty_product')">
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef>Total</th>
                                <td mat-cell *matCellDef="let element; let i = index;">
                                    {{(!element.qty || !element.qty_product) ? 0 : element.qty * element.qty_product }}
                                    {{element.unit}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        <button mat-button color="warn" matTooltip="Quitar" (click)="removeElement(i)">
                                            <img src="./assets/ui-icons/SVG/delete.svg" width="24" height="24">
                                        </button>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
            <div flex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" *ngIf="this.form.value.quantity">
                <span>¿Merma?</span>
                <mat-button-toggle-group name="merma" >
                    <mat-button-toggle value="yes" (click)="enableMerma(true)">Si</mat-button-toggle>
                    <mat-button-toggle value="no" (click)="enableMerma(false)">No</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-form-field fxFlex="20" *ngIf="merma">
                    <mat-label>Cantidad de Merma</mat-label>
                    <input matInput type="number" formControlName="decrease" (input)="verifyQtyMerma($event)"
                        placeholder="Cantidad de Merma">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <button flex mat-raised-button color="warn" type="reset" matTooltip="Reiniciar Registro"  >Limpiar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" matTooltip="Guardar Registro">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>
