<mat-card>
  <div class="container-section-header clearfix">
    <h2 class="float-left">Administrar Recetas</h2>
    <button class="float-right" mat-flat-button color="primary" (click)="openDialog()" matTooltip="Agregar Receta"
      *ngIf="!isMobile">
      <mat-icon aria-hidden="false" aria-label="Add Icon">add</mat-icon> Agregar Receta
    </button>
  </div>

  <div fxLayout="row">
    <mat-form-field fxFlex="50">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
      <span matPrefix>
        <mat-icon>search</mat-icon>
      </span>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" *ngIf="!isMobile">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let element">
        <img height="70px" [src]="element.image">
      </td>
    </ng-container> -->

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="ingredients">
      <th mat-header-cell *matHeaderCellDef> Tipo de Receta </th>
      <td mat-cell *matCellDef="let element">
        {{element.type_recipe===1 ? 'Receta Base' : (element.type_recipe === 2 ? 'Receta Compuesta' : 'Desconocida')}}
      </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Costo Total </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element; let idx = index">
        <button mat-icon-button (click)="changeVisibility(element.id, idx, element.state)">
          <mat-icon *ngIf="element.state" matTooltip="Deshabilitar" color="success">
            visibility</mat-icon>
          <mat-icon *ngIf="!element.state" matTooltip="Habilitar" color="warn">
            visibility_off</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Editar" (click)="openDialog(element.id, idx)"><img
            src="./assets/ui-icons/SVG/edit.svg" width="24" height="24"></button>
        <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteRecipe(element.id,idx)"><img
            src="./assets/ui-icons/SVG/delete.svg" width="24" height="24"></button>
        <button (click)="openViewDialog(element.id)" matTooltip="Ver Receta" mat-icon-button color="primary"
          aria-label="Details">
          <mat-icon>search</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons [hidden]="isMobile" ></mat-paginator>

  <mat-list *ngIf="isMobile">
    <mat-list-item *ngFor="let data of dataSource.data; let element; let idx = index" class="mat-element">
      <mat-icon mat-list-icon color="primary">restaurant</mat-icon>
      <h4 mat-line>{{data.name}}</h4>
      <p mat-line> {{data.ingredients}} Ingredientes</p>
      <p mat-line> {{data.total}} S/</p>
      <p mat-line>
        <!-- <button (click)="changeVisibility(idx, element.status)" mat-icon-button color="primary">
          <mat-icon color="success" matTooltip="Deshabilitar" *ngIf="element.status===true">visibility</mat-icon>
          <mat-icon color="warn" matTooltip="Habilitar" *ngIf="element.status===false">visibility_off</mat-icon>
        </button> -->
        <button mat-icon-button (click)="changeVisibility(data.id, idx, element.state)">
          <mat-icon *ngIf="element.state" matTooltip="Deshabilitar" color="success">
            visibility</mat-icon>
          <mat-icon *ngIf="!element.state" matTooltip="Habilitar" color="warn">
            visibility_off</mat-icon>
        </button>
        <button mat-icon-button color="primary" matTooltip="Editar" (click)="openDialog(element.id, idx)"><img
            src="./assets/ui-icons/SVG/edit.svg" width="24" height="24">
        </button>
        <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteRecipe(element.id,idx)"><img
            src="./assets/ui-icons/SVG/delete.svg" width="24" height="24">
        </button>
        <button (click)="openViewDialog(element.id)" matTooltip="Ver Receta" mat-icon-button color="primary"
          aria-label="Details">
          <mat-icon>search</mat-icon>
        </button>
      </p>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

  <button class="float-button" (click)="openDialog()" mat-fab color="primary" *ngIf="isMobile">
    <mat-icon aria-label="Añadir">
      add
    </mat-icon>
  </button>
</mat-card>