.example-card{
    width: 100%;
}

.item-form-menu{
    font-size: 15px !important;
    margin-bottom: 5px !important;
}

.title-descriptions{
    font-weight: bold;
    font-size: 15px;
}

.optiones-general{
    padding: 0px 16px;
}

.margin-item-auto{
    margin-left: auto;
}

.container-data {
    display: flex;
    flex-direction: column;
  }
  
  .container-data > * {
    width: 100%;
  }