.btn-full-width {
    width: 90vw!important;
    min-width: unset!important;
    bottom: 5px;
    position: fixed;
}
.btn-mid-width {
    width: 45vw!important;
    min-width: unset!important;
}
.ammount_text {
    color: #B71C1C;
}
.check_success {
    color: #66BB6A;
    font-size: 10em;
}
.payment_success_text {
    color: #01579B;
    font-weight: bold;
}