<div class="d-inline-block" ngbDropdown>   
        <button type="button" [ngClass]="{'button-header': statusTheme == true}" ngbDropdownToggle class="mb-2 mr-2 btn btn-outline-link"><i class="pe-7s-config icon-margin"> </i>Configuración</button>
        <div ngbDropdownMenu>
            <div class="header-card">
                <p class="title-header">Detalles</p>
                <p class="title-subtitule">Subtitulo</p>
            </div>
            <!-- <img src="./assets/images/avatars/user.png" alt="" class="img-menu-card"> -->
            <button class="dropdown-item">Opcion 1</button>
            <button class="dropdown-item">Opcion 2</button>
            <h6 class="dropdown-header">Opcion 3</h6>
            <button class="dropdown-item">Opcion 4</button>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
                <button class="mb-2 mr-2 btn-hover-shine btn btn-sm">Cerrar</button>
            </div>
            
        </div>
    </div>