<form [formGroup]="form" (ngSubmit)="submit(form.value,formDirective)" class="form-container" #formDirective="ngForm">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Registro de Descuento</mat-card-title>
            <mat-card-subtitle>Complete los datos del formulario para el registro</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
                <div flex fxLayout="row">
                        <mat-form-field fxFlex="100" appearance="outline">
                          <mat-label>Nombre</mat-label>
                          <input matInput placeholder="Nombre de la Categor&iacute;a">
                        </mat-form-field>
                      </div>
                      <div flex fxLayout="row">
                        Tipo:
                        <mat-radio-group>
                          <mat-radio-button value="1">Porcentaje</mat-radio-button>
                          <mat-radio-button value="2">Cantidad</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <div flex fxLayout="row">
                        <mat-form-field fxFlex="100" appearance="outline">
                          <mat-label>Valor</mat-label>
                          <input matInput placeholder="Valor">
                          <mat-hint align="start"><strong>Dejar el campo en blanco para ingresar el valor durante la venta</strong>
                          </mat-hint>
                        </mat-form-field>
                      </div>
                      <div flex fxLayout="row" style="background-color: khaki;">
                        <div fxFlex="100">
                          <mat-list>
                            <mat-list-item>
                              <mat-slide-toggle color="primary"></mat-slide-toggle>
                              <h4 mat-line>Acceso restringido</h4>
                              <p mat-line> Los colaboradores deben ingresar el PIN para poder realizar un descuento </p>
                            </mat-list-item>
                          </mat-list>
                        </div>
                      </div>
                      <h4>Locales</h4>
                          <div flex fxLayout="row">
                            <div fxFlex="50">
                              <mat-checkbox>El artículo está disponible para la venta en todos los locales</mat-checkbox>
                            </div>
                          </div>
                          <div flex fxLayout="row">
                          <div fxFlex="100">
                              <table mat-table [dataSource]="modaldataSourceShops">
                    
                                <ng-container matColumnDef="available">
                                  <th mat-header-cell *matHeaderCellDef>Disponible</th>
                                  <td mat-cell *matCellDef="let element">
                                      <mat-checkbox></mat-checkbox>
                                  </td>
                                </ng-container>
                    
                                <ng-container matColumnDef="shop">
                                  <th mat-header-cell *matHeaderCellDef>Local</th>
                                  <td mat-cell *matCellDef="let element">{{ element.shop }}</td>
                                </ng-container>
                    
                                <ng-container matColumnDef="price">
                                  <th mat-header-cell *matHeaderCellDef>Precio</th>
                                  <td mat-cell *matCellDef="let element">
                                      <mat-form-field>
                                          <input matInput placeholder="Precio">
                                        </mat-form-field>
                                  </td>
                                </ng-container>
                    
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsShops"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsShops"></tr>
                              </table>
                            </div>
                          </div><br>
          </mat-card-content>
        </mat-card>
     
              <mat-divider [inset]="true" class="margin-top:2px"></mat-divider>
    
              <div class="container">
                    <div class="row justify-content-end">
                        <button mat-raised-button color="warn" type="reset" matTooltip="Reiniciar Registro">Limpiar</button>
                        <span >&nbsp;</span>
                      <button mat-raised-button color="primary" type="submit"  matTooltip="Guardar Registro" [disabled]="!form.valid">Guardar</button>
                    </div>
                  </div>
      </form>
    