<div class="d-inline-block" ngbDropdown>
  <button type="button" [ngClass]="{'button-header': statusTheme == true}" ngbDropdownToggle class="mb-2 mr-2 btn btn-outline-link"><i class="pe-7s-config icon-margin"></i> Mega Men&uacute;</button>
  <div ngbDropdownMenu style="width: 50vw;">
    <div class="col-lg-4" style="display: inline-block; border-right: 1px solid #dee2e6">
      <h6 style="color: #6c757d;;"><b>Resumen</b></h6>
      <a class="dropdown-item" style="color:#fd7e14" href="#">
        <i class="vsm-icon pe-7s-target" style="color: #fd7e14"></i>
        Naranjas
      </a>
      <a class="dropdown-item" style="color:#fd7e14" href="#">
        <i class="vsm-icon pe-7s-target" style="color: #fd7e14"></i>
        Bananas
      </a>
      <a class="dropdown-item" style="color:#fd7e14" href="#">
        <i class="vsm-icon pe-7s-target" style="color: #fd7e14"></i>
        Manzanas
      </a>
    </div>
    <div class="col-lg-4" style="display: inline-block; border-right: 1px solid #dee2e6">
      <h6 style="color: #6c757d;;"><b>Favoritos</b></h6>
      <a class="dropdown-item" style="color:#fd7e14" href="#">Papas</a>
      <a class="dropdown-item" style="color:#fd7e14" href="#">Luchugas</a>
      <a class="dropdown-item" style="color:#fd7e14" href="#">Coliflores</a>
    </div>
    <div class="col-lg-4" style="display: inline-block;">
      <h6 style="color: #6c757d;"><b>Ventas & Mercadeo</b></h6>
      <a class="dropdown-item" style="color:#fd7e14" href="#">Bistec</a>
      <a class="dropdown-item" style="color:#fd7e14" href="#">Cerdo</a>
      <a class="dropdown-item" style="color:#fd7e14" href="#">Lasagna</a>
    </div>
  </div>
</div>
