.tabs-categories{
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 10px;}
.selected-category{
    border-bottom: 2px solid #fbd729;}
.category-button{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0px;
}

.title-component{
    font-size: 25px;
    font-weight: bold;
}

.float-button{
    position: fixed;
    bottom: 20px;
    right: 32px;
}