<mat-card>
    <div class="container-section-header clearfix">
        <h2 class="float-left">Listado de Ventas</h2>

        <button class="float-right" color="primary" mat-flat-button [matMenuTriggerFor]="menu" >
            EXPORTAR
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item matTooltip="Exportar como PDF" > 
                <mat-icon>picture_as_pdf</mat-icon>
                <span>PDF</span>
            </button>
            <button mat-menu-item matTooltip="Exportar como CSV">
                <mat-icon>voicemail</mat-icon>
                <span>CSV</span>
            </button>
            <button mat-menu-item matTooltip="Exportar como TXT">
                <mat-icon>text_format</mat-icon>
                <span>TXT</span>
            </button>
        </mat-menu>

    </div>
    <table mat-table [dataSource]="dataSource" class="text-center" *ngIf="!isMobile">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="text-center"> N° </th>
            <td mat-cell *matCellDef="let element; let i =index" class="text-center"> {{i + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="correlative">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Tipo de pago </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.type_sale}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Metodo de pago </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.payment_method}} </td>
        </ng-container>

        <ng-container matColumnDef="fec_create">
            <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha </th>
            <td mat-cell *matCellDef="let element" class="text-center"> {{element.fec_create}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="!isMobile">
    </mat-paginator>

    <mat-list *ngIf="isMobile">
        <mat-list-item *ngFor="let data of dataSource.data" class="mat-element">
            <mat-icon mat-list-icon>insert_drive_file</mat-icon>
            <h4 mat-line>{{data.type_sale}} - {{data.payment_method}}</h4>
            <p mat-line> {{data.fec_create}} </p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <div style="height: 50px !important" *ngIf="isMobile">&nbsp;</div>

    <div flex fxLayout="row" class="footer-button" *ngIf="isMobile">
        <button fxFlex="50" matTooltip="EXPORTAR TXT"  mat-flat-button style="background-color:#0091ea;color: white">
            <mat-icon>cloud_download</mat-icon> EXPORTAR TXT
        </button>
        <button fxFlex="50" mat-flat-button matTooltip="Exportar CSV"  style="background-color:#64dd17;color: white">
            <mat-icon>cloud_download</mat-icon> EXPORTAR CSV
        </button>
    </div>
</mat-card>