<div class="d-flex">
    <div class="header-btn-lg pr-0" style="padding: 0px !important; margin-left: 0px !important;">
        <div class="widget-content p-0">
            <div class="widget-content-wrapper">
                <div class="widget-content-left">
                    <div class="btn-group" ngbDropdown placement="bottom-right">
                        <button type="button" [ngClass]="{'button-header': statusTheme == true}" class="btn btn-link p-0" ngbDropdownToggle>
                            <span>
                                <div class="icon-wrapper icon-wrapper-alt rounded-circle">
                                    <i style="background:#d7dbdf6e;
                                    border-radius: 50%;
                                    padding: 8px;" class="pe-7s-keypad"></i>
                                </div>
                            </span>
                        </button>
                        <div ngbDropdownMenu>
                            <div class="header-card">
                                <p class="title-header">Titulo</p>
                                <p class="title-subtitule">Subtitulo</p>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 item-grid">
                                    <i class="pe-7s-back-2 icon-item"> </i>
                                    <p class="title-icon">Opcion 1</p>
                                </div>
                                <div class="col-sm-4 item-grid">
                                    <i class="pe-7s-refresh-2 icon-item"> </i>
                                    <p class="title-icon">Opcion 2</p>
                                </div>
                                <div class="col-sm-4 item-grid">
                                    <i class="pe-7s-sun icon-item"> </i>
                                    <p class="title-icon">Opcion 3</p>
                                </div>
                                <div class="col-sm-4 item-grid">
                                    <i class="pe-7s-server icon-item"> </i>
                                    <p class="title-icon">Opcion 4</p>
                                </div>
                                <div class="col-sm-4 item-grid">
                                    <i class="pe-7s-portfolio icon-item"> </i>
                                    <p class="title-icon">Opcion 5</p>
                                </div>
                                <div class="col-sm-4 item-grid">
                                    <i class="pe-7s-ticket icon-item"> </i>
                                    <p class="title-icon">Opcion 6</p>
                                </div>
                            </div>
                            <button class="dropdown-item">
                                <button mat-flat-button style="color: black; background-color: #fd7e14" class="mb-2">Focus
                                </button>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
