
.content-adapted-form{
    margin-right : 5px !important;
    margin-left :  5px !important;
}

.adapted-form{
    padding-right : 5px !important;
    padding-left  : 5px !important;
}


.mat-icon-button{
    padding-top: 13px !important;
}

.result-buy{
    font-size: 20px;
}

.title-result{
    font-weight: bold;
}

.conponent-custom{
    margin: 0px;
}

.custom-add{
    text-align: right;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.list-product-select{
    height: 369px;
    overflow: auto;
}

.item-card{
    background:#215f84;
    color:white;
    border-bottom: 2px solid white;
}

.list-group-card{
    position: absolute;
    width: 90%;
    z-index: 5;
}

.general-cantidad{
    margin-right: 40px;
}

.number-cantidad{
    font-size: 20px;
    padding: 15px 10px;
}

mat-icon{
    cursor: pointer;
}