.content-adapted-form{
    margin-right : 5px !important;
    margin-left :  5px !important;
}

.adapted-form{
    padding-right : 5px !important;
    padding-left  : 5px !important;
}


.mat-icon-button{
    padding-top: 13px !important;
}

.result-buy{
    font-size: 20px;
}

.title-result{
    font-weight: bold;
}