<mat-card>
    <div class="container-section-header clearfix">
        <h2 class="float-left">Valoración de Inventario</h2>
    </div>

    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center" fxLayoutGap="20px">
        <mat-form-field fxFlex="25">
            <mat-label>Locales</mat-label>
            <mat-select [(ngModel)]="shop" multiple>
                <mat-select-trigger>
                    {{shop.length>0 ? ( shop.length === stores.length ? 'Todos los locales' : shop[0].name ) : ''}}
                    <span *ngIf="shop.length != stores.length && shop.length>1" class="">
                        (+{{shop.length - 1}})
                    </span>
                </mat-select-trigger>
                <div style="padding: 10px">
                    <mat-checkbox coloor="primary" [(ngModel)]="allSelectedStore"
                        (change)="selectAllStore(allSelectedStore)">Todos los locales</mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <mat-option (click)="changeShop()" *ngFor="let store of stores" [value]="store">{{store.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="25">
            <mat-label>Categorías</mat-label>
            <mat-select [(ngModel)]="categories" multiple>
                <mat-select-trigger>
                    {{categories.length>0 ? ( categories.length === categoriesData.length ? 'Todas las categorías' : categories[0].name ) : ''}}
                    <span *ngIf="categories.length != categoriesData.length && categories.length>1" class="">
                        (+{{shop.length - 1}})
                    </span>
                </mat-select-trigger>
                <div style="padding: 10px">
                    <mat-checkbox coloor="primary" [(ngModel)]="allSelectedCategories"
                        (change)="selectAllCategories(allSelectedCategories)">Todas las categorías</mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <mat-option (click)="changeCategory()" *ngFor="let category of categoriesData" [value]="category">
                    {{category.name}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6 class="card-title"> Valor de inventario total</h6>
                        <span class="value-text"> {{ 1657000 | number:'.2' }} </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6 class="card-title"> Valor de venta total</h6>
                        <span class="value-text"> {{ 2329200 | number:'.2' }} </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6 class="card-title"> Beneficio potencial</h6>
                        <span class="value-text"> {{ 672024 | number:'.2' }} </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <h6 class="card-title"> Margen</h6>
                        <span class="value-text"> {{ 28.6 | number:'.2' }}% </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="table-responsive text-nowrap" *ngIf="!isMobile">
        <table mat-table class="table table-responsive-sm" [dataSource]="dataSource">

            <ng-container matColumnDef="article">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Artículo </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.article}} </td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Stock </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.stock | number:'.2' }} </td>
            </ng-container>

            <ng-container matColumnDef="coste">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Costo </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.coste | number:'.2' }} </td>
            </ng-container>

            <ng-container matColumnDef="stock_value">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Valor de Inventario </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.stock_value | number:'.2' }} </td>
            </ng-container>

            <ng-container matColumnDef="sale_value">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Valor de Venta </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.sale_value | number:'.2' }} </td>
            </ng-container>

            <ng-container matColumnDef="potential_benefit">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Beneficio Potencial </th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.potential_benefit | number:'.2' }}
                </td>
            </ng-container>

            <ng-container matColumnDef="margen">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Margen</th>
                <td mat-cell *matCellDef="let element" class="text-center"> {{element.margen | number:'.2' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-center"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-center"></tr>

        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="!isMobile">
    </mat-paginator>

    <mat-list *ngIf="isMobile">
        <mat-list-item *ngFor="let data of dataSource.data" class="mat-element">
            <mat-icon mat-list-icon>insert_drive_file</mat-icon>
            <h4 mat-line>{{data.article}}</h4>
            <p mat-line> Stock : {{data.stock | number:'.2' }} - Costo : {{data.coste | number:'.2' }}</p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>