<form [formGroup]="form" class="form-container" (ngSubmit)="submit(form.value, null)">
<mat-card>
    <mat-card-header>
        <mat-card-title>Registro de Promoción</mat-card-title>
        <mat-card-subtitle>Complete los datos del formulario para el registro</mat-card-subtitle>
        <div class="button-close">
            <button type="button" routerLink="/combos/special-sales" matTooltip="Volver al Listado" mat-button color="warn" class="float-right config-close">
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>
    </mat-card-header>
    <mat-card-content>
        <br>
            <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <mat-form-field fxFlex="60" appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="description" placeholder="Descripción">
                  </mat-form-field>
                  <mat-form-field fxFlex="40" appearance="outline">
                    <mat-label>Locales</mat-label>
                    <mat-select  [compareWith]="compareObjects" formControlName="headquarter_id" >
                        <mat-option *ngFor="let item of headquarters" [value]="item.id">{{item.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        <mat-divider></mat-divider>
        <h4>Artículos</h4>
        <div flex fxLayout="row" fxLayoutGap="20px">
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-select [formControl]="categoryCtrl" placeholder="Categorías" #singleSelect
                (selectionChange)="getSubCategoriesByCat(categoryCtrl.value)"
                    >
                    <mat-option>
                        <ngx-mat-select-search [formControl]="categoryFilterCtrl" [placeholderLabel]="'Buscar'"
                            [noEntriesFoundLabel]="'No se encontraron registros'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category.id">
                        {{category.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-select [formControl]="productCtrl" placeholder="Sub-Categoría" #singleSelect
                    >
                    <mat-option>
                        <ngx-mat-select-search [formControl]="subCategoryFilterCtrl" [placeholderLabel]="'Buscar'"
                            [noEntriesFoundLabel]="'No se encontraron registros'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let subcategory of filteredSubCategories | async" [value]="subcategory.id">
                        {{subcategory.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-select [formControl]="productCtrl" placeholder="Productos/Platos" #singleSelect
                    (selectionChange)="changeValue($event)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="productFilterCtrl" [placeholderLabel]="'Buscar'"
                            [noEntriesFoundLabel]="'No se encontraron registros'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
                        {{product.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div flex fxLayout="row">
            <div fxFlex="100" class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="text-center">
                    <ng-container matColumnDef="name" class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Producto</th>
                        <td mat-cell *matCellDef="let element" class="text-center">{{ element.name }}</td>
                    </ng-container>

                    <ng-container matColumnDef="price"  class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Precio</th>
                        <td mat-cell *matCellDef="let element" class="text-center">{{ element.price }}</td>
                    </ng-container>

                    <ng-container matColumnDef="qty"  class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Cantidad</th>
                        <td mat-cell *matCellDef="let element; let i = index;" class="text-center">
                            <div fxLayout="row" fxLayoutAlign="center center"  class="text-center">
                                <mat-icon style="color: #d32f2f;cursor: pointer;" (click)="changeQty(i,-1)">
                                    arrow_downward</mat-icon>
                                <mat-icon style="color: #0277bd;cursor: pointer;" (click)="changeQty(i,1)">arrow_upward
                                </mat-icon>
                                <span>{{ element.qty }}</span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="options"  class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                        <td mat-cell *matCellDef="let element;let i =index;" class="text-center">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <button mat-button color="warn" (click)="removeElement(i)" type="button" matTooltip="Quitar Artículo">
                                    <img src="./assets/ui-icons/SVG/delete.svg" width="24" height="24">
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <mat-divider></mat-divider>
        <h4>Combos</h4>
        <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="25" appearance="outline">
                <mat-select [formControl]="comboCtrl" placeholder="Combos" #singleSelectCombo
                    (selectionChange)="changeValueCombo($event)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="comboFilterCtrl" [placeholderLabel]="'Buscar'"
                            [noEntriesFoundLabel]="'No se encontraron registros'"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let combo of filteredCombos | async" [value]="combo">
                        {{combo.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div flex fxLayout="row">
            <div fxFlex="100" class="table-responsive">
                <table mat-table [dataSource]="dataSourceCombo">
                    <ng-container matColumnDef="name"  class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Combo</th>
                        <td mat-cell *matCellDef="let element" class="text-center">{{ element.description }}</td>
                    </ng-container>

                    <ng-container matColumnDef="price"  class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Precio</th>
                        <td mat-cell *matCellDef="let element" class="text-center">{{ element.price }}</td>
                    </ng-container>

                    <ng-container matColumnDef="qty"  class="text-center">
                        <th mat-header-cell *matHeaderCellDef class="text-center">Cantidad</th>
                        <td mat-cell *matCellDef="let element; let i = index;" class="text-center">
                            <div fxLayout="row" fxLayoutAlign="center center"  class="text-center">
                                <mat-icon style="color: #d32f2f;cursor: pointer;" (click)="changeQtyCombo(i,-1)">
                                    arrow_downward</mat-icon>
                                <mat-icon style="color: #0277bd;cursor: pointer;" (click)="changeQtyCombo(i,1)">arrow_upward
                                </mat-icon>
                                <span>{{ element.qty }}</span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef class="text-center"></th>
                        <td mat-cell *matCellDef="let element;let i = index" class="text-center">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <button mat-button color="warn" (click)="removeElementCombo(i)" type="button" matTooltip="Quitar Combo">
                                    <img src="./assets/ui-icons/SVG/delete.svg" width="24" height="24">
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div flex fxLayout="row" fxLayoutAlign="end center">
            <span style="font-size: 20px">
                <strong>Costo: </strong> {{getTotal() | number:'.3'}}
            </span>
        </div>
    
            <div flex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="20px">
                <mat-form-field fxFlex="20" appearance="outline">
                    <mat-label>Precio </mat-label>
                    <input matInput type="number" formControlName="price" placeholder="Precio">
                  </mat-form-field>
                    <mat-form-field fxFlex="20" fxFlex.xs="50" appearance="outline">
                            <mat-label>Modo</mat-label>
                <mat-select formControlName="promotion_mode" placeholder="Modo">
                    <mat-option [value]="0">Porcentaje</mat-option>
                    <mat-option [value]="1">Monto Fijo</mat-option>
                </mat-select>
            </mat-form-field>
                <mat-form-field fxFlex="20" fxFlex.xs="50" appearance="outline">
                    <mat-label>Valor  <span *ngIf="form.value.type===0">(%)</span> </mat-label>
                    <input matInput formControlName="discount_rate" placeholder="Valor">
                </mat-form-field>
            </div>
            <div flex fxLayout="row" fxLayoutAlign="end center">
                <mat-slide-toggle class="margin-slide float-right" formControlName="state" color="primary">
                    {{form.value.state ? 'Activo' : 'Inactivo'}} </mat-slide-toggle>
            </div>
        
    </mat-card-content>
    <div fxLayoutAlign="end center" fxLayoutGap="5px" fxLayout="row">
        <button flex mat-raised-button color="warn" matTooltip="Reiniciar Registro"  type="reset">Limpiar</button>
        <span>&nbsp;</span>
        <button flex mat-raised-button color="primary" matTooltip="Guardar Registro" type="submit" [disabled]="!form.valid">Guardar</button>
      </div>
</mat-card>
</form>
