.toolbar-color-custom{
    background-color: #fbd729;}
.user-header-image{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;}
.inline-block{
    display: inline-flex;}
.username-avatar{
    margin-top: auto;
    margin-right: 5px;
    font-size: 1.5vh;}
.selected-country{
    background-color: #e6ee9c;}
.selected-country:hover{
    background-color: #e6ee9c;}
.divider-vertical{
    width: 2px;
    background-color: white;
    height: 70%;
    margin-right: 5px;
    margin-left: 5px;}
