<mat-card>
    <div class="container-section-header clearfix">
        <h2 class="float-left">Listado de Empleados</h2>
        <button class="float-right" mat-flat-button color="primary" matTooltip="Nuevo Empleado"  [routerLink]="['/human-resource/employee-form']" *ngIf="!isMobile">
          <mat-icon aria-hidden="false" aria-label="Add Icon">add</mat-icon> AÑADIR EMPLEADO
        </button>
        <span class="float-right">&nbsp;</span>
        <button class="float-right" *ngIf="showRemove && dataSource" (click)="removeSelected()" matTooltip="Eliminar Seleccionados"  mat-flat-button color="warn" >
            <img src="./assets/ui-icons/SVG/delete.svg" width="24" height="24"> RETIRAR
        </button>
      </div>
      
      <div flex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutGap="20px" >
          <mat-form-field fxFlex="50">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
              <span matPrefix><mat-icon>search</mat-icon></span>
          </mat-form-field>
          <mat-form-field fxFlex="25">
              <mat-label>Locales</mat-label>
              <mat-select [(ngModel)]="shop" (change)="changeShop()">
                  <mat-option value="all">Todos los locales</mat-option>
                  <mat-option *ngFor="let store of stores" [value]="store.id">{{store.name}}</mat-option>
                </mat-select>
          </mat-form-field>
        </div>
    
    
    
    
      <div class="table-responsive" *ngIf="!isMobile"> 
      <table mat-table [dataSource]="dataSource">
      
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef class="text-center"> N </th>
          <td mat-cell class="text-center" *matCellDef="let element; let i = index" class="text-center"> 
            {{i+1}}
            <!-- <mat-checkbox [checked]= "element.canChecked  ? element.checked : false" (change)="checkedElement(!element.checked,i)" [disabled]="!element.canChecked" ></mat-checkbox>    -->
          </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
          <td mat-cell *matCellDef="let element" class="text-center"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell class="text-center" *matHeaderCellDef class="text-center"> Correo Electrónico </th>
          <td mat-cell class="text-center" *matCellDef="let element" class="text-center"> {{element.email}} </td>
        </ng-container>
      
        <ng-container matColumnDef="phone">
            <th mat-header-cell class="text-center" *matHeaderCellDef class="text-center"> Número de teléfono </th>
            <td mat-cell class="text-center" *matCellDef="let element" class="text-center"> {{element.phone}} </td>
        </ng-container>
    
        <ng-container matColumnDef="role">
            <th mat-header-cell class="text-center" *matHeaderCellDef class="text-center"> Rol </th>
            <td mat-cell class="text-center" *matCellDef="let element" class="text-center"> {{element.role ? element.role.id : 'Sin Especificar' }} </td>
        </ng-container>
      
        <ng-container matColumnDef="status">
          <th mat-header-cell class="text-center" *matHeaderCellDef> Opciones </th>
          <td mat-cell *matCellDef="let element;let i=index" class="text-center">
            <button mat-icon-button (click)="changeVisibility(element.id,i, element.state)">
              <mat-icon matTooltip="Deshabilitar" color="success" *ngIf="element.state">visibility</mat-icon>
              <mat-icon matTooltip="Habilitar" color="warn" *ngIf="!element.state">visibility_off</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Editar" [routerLink]="['/human-resource/employee-form/',element.id]">
              <img src="./assets/ui-icons/SVG/edit.svg" width="24" height="24">
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteUser(element.id,i)">
              <img src="./assets/ui-icons/SVG/delete.svg" width="24" height="24">
            </button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-center"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-center"></tr>
      </table>
    </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"  *ngIf="!isMobile"></mat-paginator>
    
      <mat-list *ngIf="isMobile">
        <mat-list-item *ngFor="let data of dataSource.data, let element, let i = index" class="mat-element">
          <mat-icon mat-list-icon>insert_drive_file</mat-icon>
          <h4 mat-line>{{data.name}}</h4>
          <p mat-line> {{data.email}} - {{data.role}}</p>
          <p mat-line>
            <button mat-icon-button (click)="changeVisibility(element.id,i, element.state)">
              <mat-icon matTooltip="Deshabilitar" color="success" *ngIf="element.state">visibility</mat-icon>
              <mat-icon matTooltip="Habilitar" color="warn" *ngIf="!element.state">visibility_off</mat-icon>
            </button>
            <button mat-icon-button color="primary" matTooltip="Editar" [routerLink]="['/human-resource/employee-form/',element.id]">
              <img src="./assets/ui-icons/SVG/edit.svg" width="24" height="24">
            </button>
            <button mat-icon-button color="warn" matTooltip="Eliminar" (click)="deleteUser(element.id,i)">
              <img src="./assets/ui-icons/SVG/delete.svg" width="24" height="24">
            </button>
          </p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    
            <button class="float-button" [routerLink]="['/human-resource/employee-form']" *ngIf="isMobile" mat-fab color="primary">
        <mat-icon aria-label="Añadir">
            add
        </mat-icon>
    </button>
</mat-card>