<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Activar administración de empleados</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Personalice derechos de acceso a la app, registre tarjetas de asistencia y ventas por empleado.
        </p>
        <p>Seleccione un plan de pago :</p>

        <mat-radio-group class="example-radio-group">
            <mat-radio-button class="example-radio-button" value="1">$5 USD/mes por empleado</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="2">$50 USD/año por empleado</mat-radio-button>
        </mat-radio-group>

        <p>
            Es posible que sea cobrado impuestos si su país de facturación se encuentra en la UE, EEUU o Canadá.
        </p>

        <p>
            <i style="font-size: 20px;" class="pe-7s-credit"></i>  Ninguna tarjeta de crédito registrada
        </p>

    </mat-card-content>
    <mat-card-actions>
        <div class="clearfix">
            <button (click)="close()" class="float-right" matTooltip="Cancelar" mat-button>CANCELAR</button>
            <button class="float-right" matTooltip="Continuar" mat-button>CONTINUAR</button>
        </div>
    </mat-card-actions>
</mat-card>