<form [formGroup]="productTypeForm" (ngSubmit)="save()" class="form-container">
  <mat-card>
      <mat-card-header>
          <mat-card-title>Registro de Tipo de Producto</mat-card-title>
          <mat-card-subtitle>Complete los datos del formulario para el registro</mat-card-subtitle>
          <div class="button-close" *ngIf="!hideBack">
            <button type="button" routerLink="/stock/product-types" matTooltip="Regresar" mat-button color="warn" class="float-right config-close">
              <mat-icon>keyboard_backspace</mat-icon>
            </button>
          </div>
          <div class="button-close" *ngIf="showClose">
              <button type="button" (click)="onNoClick()" matTooltip="Volver al Listado" mat-button color="warn" class="float-right config-close">
                <mat-icon>close</mat-icon>
              </button>
            </div>
      </mat-card-header>
      <mat-card-content>
          <br>
          <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
              <mat-form-field fxFlex="70" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput formControlName="description" placeholder="Nombre del Tipo de Producto">
              </mat-form-field>
              <mat-form-field fxFlex="30" appearance="outline">
                <mat-label>C&oacute;digo</mat-label>
                <input matInput formControlName="code" placeholder="C&oacute;digo del Tipo de Producto">
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end center" fxLayout="row">
            <mat-slide-toggle [color]="'primary'" formControlName="state">{{productTypeForm.value.state ? 'Activo' : 'Inactivo'}}</mat-slide-toggle>
          </div>
      </mat-card-content>
      <mat-card-actions>
          <div class="container">
              <div flex fxLayout="row" fxLayoutAlign="end center">
                  <button mat-raised-button color="warn" type="reset" matTooltip="Reiniciar Registro">Limpiar</button>
                  <button mat-raised-button color="primary" type="submit" matTooltip="Guardar Registro" [disabled]="!productTypeForm.valid">Guardar</button>
              </div>
          </div>
      </mat-card-actions>
  </mat-card>
</form>
