<div class="d-inline-block" ngbDropdown>
    <button type="button" [ngClass]="{'button-header': statusTheme == true}" ngbDropdownToggle class="mb-2 mr-2 btn btn-outline-link"><i class="pe-7s-settings icon-margin"> </i>Projects</button>
    <div ngbDropdownMenu>
        <div class="header-card">
            <p class="title-header">Title</p>
            <p class="title-subtitule">Subtitule</p>
            <button class="mb-2 mr-2 btn btn-dark btn-sm">comfig
            </button>
            <button class="mb-2 mr-2 btn btn-warning btn-sm">
                <i class="pe-7s-settings"> </i>
            </button>

        </div>
        <!-- <img src="./assets/images/avatars/user.png" alt="" class="img-menu-card"> -->
        <button class="dropdown-item">
            <i class="pe-7s-ticket"> </i>
            Menus</button>
        <button class="dropdown-item">
            <i class="pe-7s-ticket"> </i>Settings</button>
        <h6 class="dropdown-header">
            <i class="pe-7s-ticket"> </i>Header</h6>
        <button class="dropdown-item">
            <i class="pe-7s-ticket"> </i>Actions</button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item">
            <i class="pe-7s-ticket"> </i>Dividers</button>
    </div>
</div>