 .example-card {
    width: 100%;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  mat-card-header{
      padding: 16px !important; 
  }

  .mat-list-base{
    padding-top: 0px;
  }

  .mat-card{
      padding: 0px !important;
  }

  .mat-card-content{
    margin-bottom: 0px !important;
  }

  mat-list-item:hover{
    background:#d7dbdf6e;
  }

  mat-list-item:active{
    background:#d7dbdf6e;
  }

